# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java
6. Julia
7. Scala
8. MATLAB
9. SAS
10. Go (Golang) etc ...

Some of the commonly used libraries used by Data Scientists include:
    
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. scikit-learn
6. TensorFlow
7. Keras
8. PyTorch
9. SciPy
10. Statsmodels
11. NLTK 
12. Beautiful Soup etc..

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of Well known Data Science Tools
* How to provide comments in the cell

## Author 
Chandrasekhar Jonnalagadda